.gros{
    margin-left: 100px;
    margin-right: 100px;
    .g-card-container{
        .g-card{ 
            position: relative;
            text-align: center;
            img{
                width: 100%;
                height: 200px;
            }
            .bloc-button{
                position: absolute;
                top: 85%;
                left: 50%;
                transform: translate(-50%, -50%)
            }
        }
    }
}